@import "tailwindcss";

@theme inline {
  /* Custom portfolio colors */
  --color-primary: var(--custom-cyan);
  --color-secondary: var(--custom-aqua);
  --color-tertiary: var(--custom-light-blue);
  --color-background: var(--custom-brand);
  --color-custom-black: var(--custom-black);
  --color-custom-gray: var(--custom-white);
}

:root {

  /* Custom Color palette */
  --custom-cyan: #19F5CF;
  --custom-aqua: #98FAEB;
  --custom-light-blue: #A3FAFA;
  --custom-brand: #282F37;
  --custom-black: #1A1D22;
  --custom-white: #ffffffe3;

  /* //// */

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}